/* styles.css */

.header {
    display: flex;
    background-color: #1F2937;
    padding: 3vh;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

h2,
.infotitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;  
}

.ctatext {
    margin-bottom:0;
    font-size: 22px;
    font-weight: 700;
    color: #F9FAF8;
    display: flex;
}


h6 {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

p {
    margin-top:0;
    color: #F9FAF8;  
}

.quotetext {
    color: #1F2937;
    font-weight: 800;
}

.lefthead {
    display: flex;
    flex-flow: column wrap;
    background-color: #1F2937;
    align-content: center;
    padding-left: 200px;
    width: 400px;
}

.righthead {
    display: flex;
    flex-flow: column wrap;
    background-color: #1F2937;
    padding-left: 200px;
}

.headlist {
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.sectiontwo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding-left: 29em;
    padding-right: 27em;
    padding-bottom: 75px;
    padding-top: 50px;
}

.sectionthree {
   display: flex;
   padding: 125px;
}

.bluesquare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 150px;
    margin-left: 75px;
    border-radius: 1em 1em;
    flex-direction: column wrap;
    background-color: #3882F6;
} 

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.signup {
    background-color: #3882F6;
    width: fit-content;
    color: #F9FAF8;
    font-size: 12px;
    padding: 0.5em 2em;
    border-radius: 0.5em;
}

.signupp {
    display: flex;
    flex-flow: row wrap;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border-color: white;
    border-style: solid;
    margin-left: 450px;
    margin-right: -100px;
}

.pictures {
   display: flex;
   justify-content: center;
   gap: 100px;
   padding-top: 50px;
   padding-bottom: 150px;
}

.pic {
    border-radius: 1em;
    padding-bottom: 7px;
}

.text {
    text-align: center ;
    width: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 100px;
    gap: 28px;
}

li {
    text-decoration: none;
}